<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<title>Hey world!</title>
</head>

<body>
<div id="info">
  <?python
    from genshi.builder import tag
    def created_function(name):
        # we could do something evil in here - it's normal Python...
        # but we won't
        return 'Hello, %s!' % name ?>
  {greeting('world')}
  <p>If you put a $ in front of the line above the template will complain, because development.ini turns off allow_exec</p>
</div>
</body>
</html>